{{- range .Values.services }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ubuntu.fullname" $ }}{{- if ne .name "ssh" }}-{{ .name }}{{- end }}
  labels:
    {{- include "ubuntu.labels" $ | nindent 4 }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .type }}
  ports:
    - port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: TCP
      name: {{ .name }}
      {{- if and (eq .type "NodePort") .nodePort }}
      nodePort: {{ .nodePort }}
      {{- end }}
  selector:
    {{- include "ubuntu.selectorLabels" $ | nindent 4 }}
{{- end }}

