# Global naming overrides
nameOverride: ""
fullnameOverride: ""

# -----------------------------------------------------------------------------
# OtterScale Service Configuration
# -----------------------------------------------------------------------------
otterscale:
  image:
    repository: ghcr.io/otterscale/otterscale/service
    tag: ""
    pullPolicy: IfNotPresent
  env: []

otterscaleWeb:
  image:
    repository: ghcr.io/otterscale/otterscale/web
    tag: ""
    pullPolicy: IfNotPresent
  env: []

# -----------------------------------------------------------------------------
# Service Mesh Configuration
# -----------------------------------------------------------------------------
istio:
  enabled: true
  sidecarInjection:
    enabled: true
  virtualService:
    enabled: true

  # TLS configuration for Istio Gateway
  tls:
    # Enable TLS for the gateway
    enabled: false
    name: otterscale-tls-cert
    crt: ""
    key: ""

  # Gateway configuration for external traffic
  gateway:
    enabled: true
    hosts:
      - "*"

# -----------------------------------------------------------------------------
# PostgreSQL Configuration (for Keycloak)
# -----------------------------------------------------------------------------
valkey:
  enabled: true
  auth:
    enabled: true
    aclConfig: |
      user default on >password ~* &* +@all

postgres:
  db: keycloak
  user: keycloak
  password: keycloak
  image:
    repository: postgres
    tag: "15"
    pullPolicy: IfNotPresent
  persistence:
    enabled: true
    storageClassName: "microk8s-hostpath"
    accessMode: ReadWriteOnce
    size: 5Gi

# -----------------------------------------------------------------------------
# Keycloak Configuration
# -----------------------------------------------------------------------------
keycloakx:
  enabled: true
  auth:
    adminPassword: ""
  http:
    relativePath: /auth/

  command:
  - /bin/sh
  - -c
  - |
    /opt/keycloak/bin/kc.sh build
    /opt/keycloak/bin/kc.sh start \
    --verbose \
    --import-realm \
    --http-port=8080 \
    --http-enabled=true \
    --hostname-strict=false \
    --spi-events-listener-jboss-logging-success-level=info \
    --spi-events-listener-jboss-logging-error-level=warn 

  extraEnvFrom: |
    - configMapRef:
        name: otterscale-keycloak-env
    - secretRef:
        name: otterscale-keycloak-admin

  database:
    vendor: postgres
    username: "keycloak"
    password: "keycloak"
    database: "keycloak"
    existingSecret: otterscale-postgres
    existingSecretKey: postgres-password
    hostname: otterscale-postgres
    port: "5432"

  dbchecker:
    enabled: true
  
  extraInitContainers: |
    - name: theme-provider
      image: ghcr.io/otterscale/keycloakify:1.0.6
      imagePullPolicy: IfNotPresent
      command:
        - sh
      args:
        - -c
        - |
          echo "Copying OtterScale theme..."
          cp -R /otterscale-theme.jar /otterscale-theme
          echo "$(ls -alh /otterscale-theme)"
      volumeMounts:
        - name: theme-import-volume
          mountPath: /otterscale-theme

  extraVolumeMounts: |
    - name: realm-import-volume
      mountPath: "/opt/keycloak/data/import/otterscale-realm.json"
      subPath: "otterscale-realm.json"
      readOnly: true
    - name: theme-import-volume
      mountPath: "/opt/keycloak/providers/otterscale-theme.jar"
      subPath: "otterscale-theme.jar"
      readOnly: true

  extraVolumes: |
    - name: realm-import-volume
      secret:
        secretName: {{ .Release.Name }}-realm
    - name: theme-import-volume
      emptyDir: {}

# -----------------------------------------------------------------------------
# MAAS / Juju Configuration
# -----------------------------------------------------------------------------
configContent: |
  maas:
    url: http://192.168.196.22:5240/MAAS
    key: Zk3X2XA3ancu4yt0bk:ogyqJanjPwbQ378bYR:0VLIAb0htVjaxfmQ4pjcm8MMYtbAVmKf
    version: "2.0"
  juju:
    controller: maas-cloud-controller
    controller_addresses:
    - 192.168.196.62:17070
    username: admin
    password: d61f24da2bb3e7b5d00d4ed083e39904
    ca_cert: |
      -----BEGIN CERTIFICATE-----
      MIIEEzCCAnugAwIBAgIVAJIqWdhz/8XyRf9C2dkwTge8YuHqMA0GCSqGSIb3DQEB
      CwUAMCExDTALBgNVBAoTBEp1anUxEDAOBgNVBAMTB2p1anUtY2EwHhcNMjUxMjIz
      MDc0NzA2WhcNMzUxMjIzMDc1MjA2WjAhMQ0wCwYDVQQKEwRKdWp1MRAwDgYDVQQD
      EwdqdWp1LWNhMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAr/GdynDy
      DxyG9D2TS63JMCD3ijLDp0FpBH/+tIYR7ENKO4b9ueHOrCkcSRSza0G0WS5Wkd2Q
      L674NfMz3tn7SBpC9/P5RLD8nLM7ge2QI6rdR8gGfZaYA3GFWUoOWrBykfB1hvo9
      O0bmlTKhWDGtFC1NWEzJWJlq9h3EIz9VxzvpFnK+WfwlfsY2CyRDrbkna2SJ386a
      pWhXe0S3g/eDGOIN+8E1bsjIgi5EuhiqLu27rs6hY3CXRBpwFLwYJ0L5Dsr45xiM
      l3dW2jaPQJ3XaN1ULQxqaVXBC9Ds7/nqMgz95ekoDPD3tQSJa0Zk9xw+dGGf1a6A
      RR9DbH0yg0/2Gv3bVwADyK6x9uo93VrWWY/hkWk3HH35EWaCOVficSUiemHTimiC
      mXBGcOA8cZFWUnjk0LReUn10Ly1U5bu5Kxx4LTACv19ZAcIDEzhpvqwSqCfnL1S5
      owZrxZTMYx8kZXCuYgcPqY4IzYCxDq+AZJsvEr4ZpAjCcNs73yp4SnLDAgMBAAGj
      QjBAMA4GA1UdDwEB/wQEAwICpDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQY
      4GSxd6vHozPWjIQqx3w48po51zANBgkqhkiG9w0BAQsFAAOCAYEAlzW0Cqu5zNJV
      QqnoOIJrTLKopJeeCQ+68sYVIuXgrZiqhckHVvv06OUxWF5qwKGhgDeO7VqxoCF7
      e+xawv/LjzM5InIm2tKuoeBtj9zMCe0YiQhO0CZHHK2MzlX9l+iEzzvoiNkBaFc3
      lsDZgA18YqIco9dnNqqmb7xEnDGGnpOLZ+ofOKVIGu1y4E+xsIZwku7bgQ7iDY6H
      sLuN1paZYRO/S5Pv7nTpQpmn1hqat5TmYk7EclNpyaHjl62HpO9dDO5HKEY3bdMm
      upbaDyBLhZ09yaAoWG80+5lCxdQIFG0rhmw0cx4z8YZn0X6L8a0rrXsT5o+y8wmF
      +K4N1n3Yky7YbWQAuvVtNoZbUpALbhnWl5AJdebkqs5Icc/sUnPAlDQHaA6nX+WD
      HuscvOpR/KDBGTJIJakIvtFWL6CHAw2x1KuNBj2gBZJQxv85jOahAgRXh1kpDJny
      yHDdSs+/vIouZHHgyynEGXUUnxcTcjqXSeZDJNJsATfdmXXoraxl
      -----END CERTIFICATE-----
    cloud_name: maas-cloud
    cloud_region: default
  ceph:
    rados_timeout: 0s
  keycloak:
    realm_url: http://192.168.196.48/auth/realms/otterscale
    client_id: otterscale
  