# Global naming overrides
nameOverride: ""
fullnameOverride: ""

# -----------------------------------------------------------------------------
# OtterScale Service Configuration
# -----------------------------------------------------------------------------
otterscale:
  image:
    repository: ghcr.io/otterscale/otterscale/service
    tag: ""
    pullPolicy: IfNotPresent
  env: []

otterscaleWeb:
  image:
    repository: ghcr.io/otterscale/otterscale/web
    tag: ""
    pullPolicy: IfNotPresent
  env: []

# -----------------------------------------------------------------------------
# Service Mesh Configuration
# -----------------------------------------------------------------------------
istio:
  enabled: true
  externalIP: ""
  sidecarInjection:
    enabled: true
  virtualService:
    enabled: true

  # TLS configuration for Istio Gateway
  tls:
    # Enable TLS for the gateway
    enabled: false
    name: otterscale-tls-cert
    crt: ""
    key: ""

  # Gateway configuration for external traffic
  gateway:
    enabled: true
    hosts:
      - "*"

# -----------------------------------------------------------------------------
# Valkey Configuration (for otterscale-web)
# -----------------------------------------------------------------------------
valkey:
  enabled: true
  aclUsers:
    default:
      permissions: "~* &* +@all"

# -----------------------------------------------------------------------------
# Keycloak Configuration
# -----------------------------------------------------------------------------
keycloakx:
  enabled: true
  auth:
    adminPassword: ""
  client:
    id: otterscale
    secret: ""
  http:
    relativePath: /auth/

  command:
  - /bin/sh
  - -c
  - |
    /opt/keycloak/bin/kc.sh start \
    --verbose \
    --import-realm \
    --http-port=8080 \
    --http-enabled=true \
    --hostname-strict=false \
    --spi-events-listener-jboss-logging-success-level=info \
    --spi-events-listener-jboss-logging-error-level=warn 

  extraEnvFrom: |
    - configMapRef:
        name: otterscale-keycloak-env
    - secretRef:
        name: otterscale-keycloak-admin

  dbchecker:
    enabled: true
  database:
    vendor: postgres
    database: keycloak
    username: keycloak
    existingSecret: keycloak-postgres
    existingSecretKey: "postgres-password"
    hostname: keycloak-postgres
    port: "5432"
    image:
      repository: postgres
      tag: "15"
      pullPolicy: IfNotPresent
    persistence:
      enabled: true
      storageClassName: "microk8s-hostpath"
      accessMode: ReadWriteOnce
      size: 5Gi

  extraInitContainers: |
    - name: theme-provider
      image: ghcr.io/otterscale/keycloakify:1.0.6
      imagePullPolicy: IfNotPresent
      command:
        - sh
      args:
        - -c
        - |
          echo "Copying OtterScale theme..."
          cp -R /otterscale-theme.jar /otterscale-theme
          echo "$(ls -alh /otterscale-theme)"
      volumeMounts:
        - name: theme-import-volume
          mountPath: /otterscale-theme

  extraVolumeMounts: |
    - name: realm-import-volume
      mountPath: "/opt/keycloak/data/import/otterscale-realm.json"
      subPath: "otterscale-realm.json"
      readOnly: true
    - name: theme-import-volume
      mountPath: "/opt/keycloak/providers/otterscale-theme.jar"
      subPath: "otterscale-theme.jar"
      readOnly: true

  extraVolumes: |
    - name: realm-import-volume
      secret:
        secretName: {{ .Release.Name }}-realm
    - name: theme-import-volume
      emptyDir: {}

# -----------------------------------------------------------------------------
# MAAS / Juju Configuration (Hand-made)
# -----------------------------------------------------------------------------
configContent: |
  maas:
    url: http://127.0.0.1:5240/MAAS
    key: ""
    version: "2.0"
  juju:
    controller: maas-cloud-controller
    controller_addresses:
    - 127.0.0.1:17070
    username: admin
    password: ""
    ca_cert: |
      -----BEGIN CERTIFICATE-----
      xxxx
      -----END CERTIFICATE-----
    cloud_name: maas-cloud
    cloud_region: default
  ceph:
    rados_timeout: 0s
  keycloak:
    realm_url: http://127.0.0.01/auth/realms/otterscale
    client_id: otterscale
  