{{- if .Values.openfeature.sidecar.enabled }}
apiVersion: core.openfeature.dev/v1beta1
kind: FeatureFlag
metadata:
  name: otterscale-flags
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otterscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: openfeature
spec:
  flagSpec:
    flags:
      {{- range $flagName, $flagConfig := .Values.openfeature.flags }}
      {{ $flagName }}:
        state: {{ $flagConfig.state }}
        variants:
          {{- range $variantKey := $flagConfig.variants }}
          {{ $variant.key | quote }}: {{ $variant.value }}
          {{- end }}
        defaultVariant: {{ $flagConfig.defaultVariant | quote }}
      {{- end }}
{{- end }}
