{{- if .Values.otterscale.openfeature.sidecar.enabled }}
{{- range $name, $config := .Values.otterscale.openfeature.flags }}
{{- if $config.enabled }}
---
apiVersion: core.openfeature.dev/v1beta1
kind: FeatureFlag
metadata:
  name: {{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "otterscale.labels" $ | nindent 4 }}
    app.kubernetes.io/component: openfeature
spec:
  flagSpec:
    flags:
      {{- range $flagName, $flagConfig := $config.spec }}
      {{ $flagName }}:
        state: {{ $flagConfig.state }}
        variants:
          {{- range $variantKey, $variantValue := $flagConfig.variants }}
          {{ $variantKey }}: {{ $variantValue }}
          {{- end }}
        defaultVariant: {{ $flagConfig.defaultVariant | quote }}
      {{- end }}
{{- end }}
{{- end }}
{{- end }}
