apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "otterscale.fullname" . }}-web-env
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otterscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
data:
  API_URL: "http://{{ .Values.otterscaleWeb.urlIP }}/api"
  PUBLIC_WEB_URL: "http://{{ .Values.otterscaleWeb.urlIP }}"
  KEYCLOAK_REALM_URL: "http://{{ .Values.otterscaleWeb.urlIP }}/auth/realms/otterscale"
  KEYCLOAK_CLIENT_ID: {{ .Values.keycloakx.client.id }}
  KEYCLOAK_CLIENT_SECRET: {{ include "otterscale.keycloak.clientSecret" . }}
  REDIS_URL: "redis://:{{ .Values.valkey.aclUsers.default.password | default "password" }}@{{ .Release.Name }}-valkey.{{ .Release.Namespace }}.svc.cluster.local:6379"  