{{- $cloudnativePg := index .Values.otterscaleWeb "cloudnative-pg" -}}
{{- if $cloudnativePg.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $cloudnativePg.bootstrap.initdb.secret.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otterscale.labels" . | nindent 4 }}
type: Opaque
stringData:
  username: {{ $cloudnativePg.auth.username | quote }}
  password: {{ $cloudnativePg.auth.password | quote }}
  host: {{ $cloudnativePg.cluster.name }}-rw
  port: {{ $cloudnativePg.auth.port | quote }}
  dbname: {{ $cloudnativePg.auth.database | quote }}
  database_url: {{ printf "postgresql://%s:%s@%s-rw:%s/%s" $cloudnativePg.auth.username $cloudnativePg.auth.password $cloudnativePg.cluster.name $cloudnativePg.auth.port $cloudnativePg.auth.database | quote }}
{{- end }}
