apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "otterscale.fullname" . }}-web-env
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otterscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
data:
  API_URL: "http://192.168.196.48/api"
  PUBLIC_WEB_URL: "http://192.168.196.48"
  KEYCLOAK_REALM_URL: "http://192.168.196.48/auth/realms/otterscale"
  KEYCLOAK_CLIENT_ID: "otterscale"
  KEYCLOAK_CLIENT_SECRET: "Bp4peGsKk7kRCe6EOzchF5UNdXHW0xt5"
  REDIS_URL: "redis://:password@otterscale-valkey.otterscale.svc.cluster.local:6379"
