apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "otterscale.fullname" . }}-web-env
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otterscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
data:
  API_URL: "{{ include "otterscale.externalURL" . }}/api/"
  PUBLIC_WEB_URL: "{{ include "otterscale.externalURL" . }}"
  KEYCLOAK_REALM_URL: "{{ include "otterscale.externalURL" . }}/auth/realms/otterscale"
  KEYCLOAK_CLIENT_ID: {{ .Values.keycloakx.client.id }}
  KEYCLOAK_CLIENT_SECRET: {{ include "otterscale.keycloak.clientSecret" . }}
  REDIS_URL: "redis://:{{ include "otterscale.valkey.password" . }}@{{ .Release.Name }}-valkey.{{ .Release.Namespace }}.svc.cluster.local:6379"  