{{- $secretName := printf "%s-valkey" (include "otterscale.fullname" .) -}}
{{- $passwordKey := "valkey-password" -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otterscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: cache
type: Opaque
data:
  {{ $passwordKey }}: {{ include "otterscale.valkey.password" . | b64enc | quote }}
