apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "aidaptivcache-operator.fullname" . }}
  labels:
    {{- include "aidaptivcache-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.operator.replicaCount }}
  selector:
    matchLabels:
      {{- include "aidaptivcache-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.operator.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "aidaptivcache-operator.labels" . | nindent 8 }}
        {{- with .Values.operator.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      imagePullSecrets: 
        - name: {{ .Values.imagePullSecret.name }}
      serviceAccountName: {{ include "aidaptivcache-operator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.operator.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.operator.securityContext | nindent 12 }}
          image: "{{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          env:
            - name: PHISON_WEBHOOK_NAME
              value: {{ .Values.webhook.name | quote }}
            - name: PHISON_SERVICE_NAME
              value: {{ .Values.service.name | quote }}
          {{- if .Values.tls.enabled }}
          args:
            - --webhook-cert-path={{ .Values.tls.certPath }}
            - --webhook-cert-name={{ .Values.tls.certName }}
            - --webhook-cert-key={{ .Values.tls.keyName }}
          {{- end }}
          livenessProbe:
            {{- toYaml .Values.operator.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.operator.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
          volumeMounts:
          {{- if and .Values.tls.enabled (ne .Values.tls.source "auto") }}
            - name: tls-certs
              mountPath: {{ .Values.tls.certPath }}
              readOnly: true
          {{- end }}
          {{- with .Values.operator.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
      {{- if and .Values.tls.enabled (ne .Values.tls.source "auto") }}
        - name: tls-certs
          secret:
            secretName: {{ .Values.tls.secretName }}
      {{- end }}
      {{- with .Values.operator.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
