{{- $enabled := .Values.imagePullSecret.create | default false }}
{{- if $enabled }}
{{- $name := .Values.imagePullSecret.name | default (printf "%s-image-pull-secret" .Release.Name) }}
{{- $ns := .Values.global.namespace }}
{{- $existing := lookup "v1" "Secret" $ns $name }}
{{- if not $existing }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: kubernetes.io/dockerconfigjson
{{- $reg := .Values.imagePullSecret.registry | default "https://index.docker.io/v1/" }}
{{- $token := .Values.imagePullSecret.token | default "" }}
{{- $user := "licensesp" }}
{{- $auth := printf "%s:%s" $user $token | b64enc }}
{{- $cfg := dict "auths" (dict $reg (dict "auth" $auth)) }}
data:
  .dockerconfigjson: {{ $cfg | toJson | b64enc }}
{{- end }}
{{- end }}